* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all 1s;
}

li {
    cursor: pointer;
}

/* Whole Body section */

body {
    background-color: white;
    width: 100%;
    min-height: 100vh;
}

/* Whole Body Section Ends  */

/* Header NavBar Section */

.nav-bar {
    background-color: #0A490A;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #FFFFFF;
    padding: 1.5rem;
}

.menu {
    display: flex;
    gap: 2rem;
    list-style-type: none;

}

.searchBox {
    height: 2rem;
    position: relative;
    display: flex;
}

.searchBox img {
    position: absolute;
    left: 5px;
    top: 3px;
    height: 85%;
}

.searchBox select,
.searchBox input {
    height: 100%;
    background: transparent;
    color: inherit;
    padding-inline: 1rem;
    border: 1px solid #FFFFFF;
    text-align: center;
}

.searchBox select option {
    color: black;
}

.operation {
    display: flex;
    gap: 1.5rem;
}

.iconBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 3rem;
    font-size: 0.5rem;
}

.iconBox img {
    transform: scale(0.6);
}

.head-section {
    width: 100%;
    height: 550px;
    background-color: #FF07A0;
}

/* header NavBar Section Ends  */

/* Poster Section  */

.pic1 img {
    width: 500px;
    height: 400px;
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.poster {
    padding: 2rem 4rem;
}

.poster .discount-section h4 {
    width: 170px;
    height: 30px;
    color: darkgreen;
    background-color: #B4C8B1;
    border-radius: 12px;
    font-size: 15px;
    text-align: center;
    position: absolute;
    top: 190px;
    left: 100px;
}

.poster .discount-section h1 {
    width: 540px;
    height: 100px;
    color: #0A490A;
    position: absolute;
    top: 230px;
    left: 100px;
    font-size: 70px;
    line-height: 70px;
    letter-spacing: 1%;
}

.poster .discount-section p {
    width: 700px;
    height: 60px;
    color: #0A490A;
    position: absolute;
    top: 400px;
    left: 100px;
    font-size: 22px;
    line-height: 132%;
    letter-spacing: -4%;
}

.poster .discount-section .btn {
    width: 200px;
    height: 45px;
    background-color: #B4C8B1;
    border-radius: 15px;
    border: none;
    position: absolute;
    top: 550px;
    left: 100px;
    font-size: 18px;
    color: #0A490A;
    font-weight: bold;

}

.poster .starDiscount img {
    width: 124px;
    height: 124px;
    position: absolute;
    top: 250px;
    left: 500px;
}

.poster .starDiscount strong {
    color: #FFFFFF;
    position: absolute;
    top: 290px;
    left: 530px;
    font-size: 30px;
    font-weight: bold;
}

/* Poster Section Ends  */


/* Product Section  */

.titleIntro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 1rem;
    width: 100%;
    padding : 0 40px 0 40px;
}

.titleIntro strong {
    font-size: 2.5rem;
    color: #003500;
}


.productSection {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.productItems {
    width: 23%;
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
    color: #FFFFFF;
}

.productImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



/* Product InforMation */

.productInfo {
    position: absolute;
    bottom: 0;
    padding: 0.8rem;
    z-index: 1;
}

.productInfo h4 {
    color: #FFC107;
}

.productInfo p {
    font-size: 0.7rem;
    margin-bottom: .5rem;
}

.productInfo button,
.productBtn {
    background: #FFC107;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    font-size: .7rem;
    padding: .5rem .5rem;
    border-radius: 0.5rem;
    color: #0A490A;
    font-weight: bolder;
    border: none;
    cursor: pointer;
}

.productInfo img,
.productBtn img {
    width: .5rem;

}

/* Product InforMation Ends  */

.productCover {
    position: absolute;
    background: rgba(0, 0, 0, 0.616);
    width: 100%;
    height: 100%;
    top: 0px;
    transition: all 0.5s ease-in-out;
}

.productCover:hover {
    background: rgba(0, 0, 0, 0.26);
}